# if we set #operations as the global, then we can set individuals as specific folders
# so #operations will own anything not explicitly set
*				@jevaka-test-organization/only-cklewin-and-testuser9891
/.github/			cklewin@sans.org
/.circleci/			cklewin@sans.org
/.mergify.yml			cklewin@sans.org
cloudformation_template.yaml	gittest1@jevaka.org
package.json			@jevaka-test-organization/only-cklewin-and-testuser9891
package2.json			@testuser9891 @cklewin
README.md			@jevaka-test-organization/only-cklewin-and-testuser9891
/src/				gittest2@jevaka.org
